#### For this week, you're asked to compute:
a) The number of rows in the sample data set<br>
b) The average value of each numerical column (there are two of them)<br>
c) The min and max values of a time-based column (there is one such column) <br>

In [1]:
import pandas as pd

df = pd.read_csv('VolumeAndNVbySymbol_wRand.csv', parse_dates = ['Time'])
df.head()

                 Time     SYMBOL_NAME       NV_rand  VOLUME_rand
0 2021-09-20 09:30:00     NYSE_TAQ::A  2.523433e+07     136317.0
1 2021-09-20 09:30:00    NYSE_TAQ::AA  3.253425e+07     721069.0
2 2021-09-20 09:30:00   NYSE_TAQ::AAA  4.796918e+01          2.0
3 2021-09-20 09:30:00  NYSE_TAQ::AAAU  3.942529e+05      23543.0
4 2021-09-20 09:30:00   NYSE_TAQ::AAC  3.458813e+03        364.0

In [2]:
# checking to make sure that the Time column loaded as datetime
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643214 entries, 0 to 643213
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Time         643214 non-null  datetime64[ns]
 1   SYMBOL_NAME  643214 non-null  object
 2   NV_rand      643214 non-null  float64
 3   VOLUME_rand  643214 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 19.6+ MB

#### a) The number of rows in the sample data set

In [3]:
row_num = df.shape[0]
print(f'The number of rows is {row_num:,}')

The number of rows is 643,214

#### b) The average value of each numerical column (there are two of them)

In [4]:
# Option1. 
# Checking descriptive statistics of the numerical columns which will return the average (mean)
df.describe()

            NV_rand   VOLUME_rand
count  6.432140e+05  6.432140e+05
mean   1.734836e+06  3.222643e+04
std    2.031613e+07  1.849409e+05
min    6.630502e-02  1.000000e+00
25%    6.475344e+03  4.460000e+02
50%    5.821660e+04  3.108000e+03
75%    4.158061e+05  1.445500e+04
max    6.053256e+09  1.736854e+07

In [5]:
# Option2 checking the averages separately for both columns
NV_rand_mean = df.NV_rand.mean()
VOLUME_rand_mean = df.VOLUME_rand.mean()

print(f'NV_rand column average: {NV_rand_mean:,.3f}')
print(f'VOLUME_rand column average: {VOLUME_rand_mean:,.3f}')

NV_rand column average: 1,734,836.188
VOLUME_rand column average: 32,226.431

#### c) The min and max values of a time-based column

In [6]:
first_record = df.Time.min()
last_record = df.Time.max()

print(f'Min value of the time-based column("Time") is {first_record}')
print(f'Max value of the time-based column("Time") is {last_record}')

Min value of the time-based column("Time") is 2021-09-20 09:30:00
Max value of the time-based column("Time") is 2021-09-21 16:00:00